body {
  background: #333;
  overflow: hidden;
  background: url(images/wood2.jpg) top left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body.brushy {
  cursor: url(images/chrome_cursor.png), url(images/blank.cur), none !important;
}

a {
  color: #ffa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

#wrap {
  position: absolute;
  width: 950px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -570px;
}

#drawing {
  position: absolute;
  top: 0;
  right: 0;
  width: 750px;
  height: 500px;
  background: #eee url(images/paper3.jpg);
  box-shadow: 1px 1px 5px #000;
  cursor: url(images/chrome_cursor.png), url(images/blank.cur), none !important;
}

#artboard, #workboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 750px;
  height: 500px;
}

.brushy #artboard {
  cursor: url(images/blank_google_chrome.cur), url(images/blank.cur), none;
}

/* Sidebar controls */

#sidebar {
  position: absolute;
  top: 0;
  left: -9820px;
  width: 10000px;
  height: 3000px;
  z-index: 10000;
  cursor: default !important;
}

/* Buttons */

#controls {
  position: absolute;
  top: 170px;
  right: 80px;
}

#controls li {
  margin-bottom: 10px;
}

#controls a {
  display: block;
}

#controls a span {
  display: none;
}

#playbutton {
  width: 72px;
  height: 82px;
  background: transparent url(images/switch_up.png) top left no-repeat;
}

#playbutton.playing {
  background-image: url(images/switch_down.png);  
}

#clearbutton {
  width: 72px;
  height: 34px;
  background: transparent url(images/clear.png) top left no-repeat;
}

#clearbutton:hover {
  background-position: bottom left;
}

/* Drawing tools */

#toolbox {
  z-index: 8000;
  position: absolute;
  top: 200px;
  right: -80px;
}
#toolbox ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#toolbox li {
  margin: 50px 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, .07);
  -webkit-border-radius: 5px;
}
#toolbox, #toolbox ul, #toolbox li {

}
#toolbox li {
  cursor: pointer !important;
}

/* Palette */

#palette {
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 10000;
}

#palette ul {
  list-style: none;
}

.colors li {
  position: relative;
  width: 45px;
  height: 40px;
  cursor: pointer !important;
  margin: 10px 15px 20px 20px;
}

.swatch {
  position: absolute;
  left: -6px;
  top: -3px;
  width: 60px;
  height: 54px;
  background: transparent url(images/container.png) top left no-repeat;
}

/* Brushes */

.brush {
  cursor: url(images/chrome_cursor.png), url(images/blank.cur), none !important;
}

/* Pen */

#pen {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 766px;
}
#pen .brush {
  position: absolute;
  top: -3px;
  left: 0;
  background: transparent url(images/pen_straight.png) top right no-repeat;
  width: 30px;
  height: 766px;
}
#pen .shadow {
  position: absolute;
  left: -25px;
  top: 250px;
  width: 80px;
  height: 266px;
  background: transparent url(images/shadow.png) bottom left no-repeat;
}
#pen.down .brush {
  top: 0px;
}
#pen.down .shadow {
  left: -30px;
}


/* Brush */

#brush {
  position: absolute;
  top: 0;
  left: 0;
  width: 29px;
  height: 928px;
}
#brush .brush {
  position: absolute;
  top: -5px;
  left: 0;
  background: transparent url(images/paintbrush.png) top right no-repeat;
  width: 29px;
  height: 928px;
}
#brush .shadow {
  position: absolute;
  left: -24px;
  top: 327px;
  width: 80px;
  height: 266px;
  background: transparent url(images/shadow.png) bottom left no-repeat;
}
#brush.down .brush {
  background-image: url(images/paintbrush_down.png);
  top: 5px;
}
#brush.down .shadow {
  left: -28px;
}

/* Marker */

#marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 43px;
  height: 760px;
}
#marker .brush {
  position: absolute;
  top: -3px;
  left: 0;
  background: transparent url(images/marker.png) top right no-repeat;
  width: 43px;
  height: 760px;
}
#marker .shadow {
  position: absolute;
  left: -20px;
  top: 250px;
  width: 80px;
  height: 266px;
  background: transparent url(images/shadow.png) bottom left no-repeat;
}
#marker.down .brush {
  top: 0px;
}
#marker.down .shadow {
  left: -25px;
}